
This is the PDU being sent when sender address is numeric

type_name: submit_sm
command_id: 4 = 0x00000004
command_status: 0 = 0x00000000
sequence_number: 3 = 0x00000003
service_type: "1"
source_addr_ton: 2 = 0x00000002
source_addr_npi: 1 = 0x00000001
source_addr: "919900000000" 	#number masked
dest_addr_ton: 2 = 0x00000002
dest_addr_npi: 1 = 0x00000001
destination_addr: "919900000000"  #number masked
esm_class: 3 = 0x00000003
protocol_id: 0 = 0x00000000
priority_flag: 0 = 0x00000000
schedule_delivery_time: NULL
validity_period: NULL
registered_delivery: 1 = 0x00000001
replace_if_present_flag: 0 = 0x00000000
data_coding: 0 = 0x00000000
sm_default_msg_id: 0 = 0x00000000
sm_length: 9 = 0x00000009
short_message: "test smpp"

